{% extends 'base.html' %}
{% load staticfiles  %}

{% block css_add %}
    <style>
        .imagene{
        vertical-align: middle;
            margin-bottom: 5px;
            margin-top: 20px;
            margin-left: 20px;
    }
    </style>
{% endblock %}
{% block contenido %}
    <div class="row">
         <div class="container">
            <div class="panel panel-default">
               <img class="imagene" src="{% static 'img/greenhouse.jpg' %}" alt="" height="120px" width="110px">
                <div class="alinr .col-md-6" align="right"><strong><h5>Remisión/O. de C. {{ foo.id }}</h5></strong></div>

              <!-- Default panel contents -->
                    {% for foo in ordencliente %}
                          <div class="panel-heading">
                                <div class="alinl .col-md-6"><h5><strong>{{ foo.user.nombre }} {{ foo.user.apellidos }}</strong></h5></div>
                                <div class="alinr .col-md-6" align="right"><strong><h5><font color="red"> Folio: {{ foo.id }}-AGS</font></h5></strong></div>
                                <div class="alinl .col-md-6"><h6><strong>Calle:</strong>  {{ foo.user.calle }}{{ foo.user.numero }}</h6></div>
                                <div class="alinl .col-md-6"><h6><strong>Col: CP. </strong> {{ foo.user.colonia_fraccionamiento }}, C.P. {{ foo.user.cp }}</h6></div>
                                <div class="alinl .col-md-6"><h6><strong>Municipio: </strong>{{ foo.user.municipio_delegacion}}</h6></div>
                                <div class="alinl .col-md-6"><h6><strong>Ciudad: </strong>{{ foo.user.endidad }}</h6></div>
                          </div>
                          <div class="panel-body">

                                  <div class=" col-xs-4">
                                    <label for="exampleInputEmail1"><b>Telefono:</b>  {{ foo.user.telefono }} </label>
                                  </div>
                                  <div class=" col-xs-4">
                                    <label for="exampleInputPassword1"><b>Fecha:</b> {{ foo.order_date }}</label>
                                  </div>

                          </div>
                      {% endfor %}
              <!-- Table -->
             <table class="table  table-bordered" id="example">
                 <thead class="color1">
                   <thead>
                     <tr>
                       <th>CANTIDAD</th>
                       <th>DESCRIPCIÓN</th>
                       <th>PRECIO UNITARIO</th>
                       <th>IMPORTE</th>
                     </tr>
                   </thead>
                   <tbody>
                            {% for prod in productos %}
                                <tr>
                                    <td>{{ prod.quantity }}</td>
                                    <td>{{ prod.product }}</td>
                                    <td> $ {{ prod.product.price }}</td>
                                    <td> $ {{ prod.importe}}</td>
                                </tr>
                            {% endfor %}
                   </tbody>
              </table>


            </div>
                {% for foo in ordencliente %}
                     <table class="table  table-bordered" id="example">
                                  <tr>
                                      <td><div class="alinr .col-md-6" align="right"><b>Total: ${{ foo.total_amount}}</b></div></td>
                                  </tr>
                     </table>
                 {% endfor %}
             <div class="row">
                 <div class="col-md-9">
                 </div>
                 <div class="col-md-3">
                     <button type="button" class="btn btn-primary"  onClick="window.print()">generar PDF</button>
                 </div>
             </div>

         </div>
      </div>

{% endblock %}