{% extends 'base/base-gael.html' %}

{% block contenido %}

    {% load staticfiles %}
    <script src="{% static 'js/datatables.min.js' %}"></script>

    <script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>


<style>
    .blanco-colore{
        color: #000000;
    }
    .blanco-color{
        color: #ffffff;
    }

    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
        z-index: 2;
        color: #ffffff;
        background-color: #ffffff;
        border-color: #ffffff;
    }
        .panel-warning>.panel-heading {
    color: #ffffff;
    background-color: #00C65D;
    }
body{
    line-height: .006;
}
</style>
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="list-group-item active">
                <h1 class="blanco-colore">Datos Relevantes</h1>

          </div><div><p><p></div>

       <div class="row">
                   {% for sucursal in sucursales %}
                        <div class="col-xs-6 col-lg-4 col-md-4">
                          <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h4 class="blanco-color">Sucursal: {{ sucursal.nombre }}</h4></div>
                                         <div class="panel-body">

                                             <!-- Modal -->
                                            <button type="button" class="btn btn-Default btn-lg" data-toggle="modal" data-target="#myModal{{ sucursal.id }}">Asesores</button>
                                             <div class="modal fade" id="myModal{{ sucursal.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel"><strong>ASESORES</strong></h4>
                                                  </div>
                                                  <div class="modal-body">
                                                      <table class="table">
                                                          <thead>
                                                            <tr>
                                                              <th><h5><strong>Nombre del Empleado</strong></h5></th>
                                                              <th><h5><strong>Perfil</strong></h5></th>
                                                            </tr>
                                                          </thead>

                                                          {% for dato in datos %}
                                                            {% if dato.get_tipo_display == 'Asesor' %}
                                                                {% if sucursal.nombre == dato.sucursal.nombre %}
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><h5>{{ dato.usuario }}</h5></td>
                                                                            <td><h5><a href="{{ dato.id }}">Ver</a></h5></td>
                                                                        </tr>
                                                                    </tbody>
                                                              {% endif %}
                                                            {% endif %}
                                                          {% endfor %}
                                                      </table>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                             <hr>
                                             <!-- Modal -->


                                         <!-- Modal -->
                                            <button type="button" class="btn btn-Default btn-lg" data-toggle="modal" data-target="#myModal{{ sucursal.id }}{{ sucursal.telefono }}">Recomienda y Gana</button>
                                             <div class="modal fade" id="myModal{{ sucursal.id }}{{ sucursal.telefono }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel"><strong>RECOMIENDA Y GANA</strong></h4>
                                                  </div>
                                                  <div class="modal-body">
                                                      <table class="table">
                                                          <thead>
                                                            <tr>
                                                              <th><h5><strong>Nombre del Empleado</strong></h5></th>
                                                              <th><h5><strong>Perfil</strong></h5></th>
                                                            </tr>
                                                          </thead>

                                                          {% for dato in datos %}
                                                            {% if dato.get_tipo_display == 'Asistente' %}
                                                                {% if sucursal.nombre == dato.sucursal.nombre %}
                                                                    <tbody>
                                                                        <tr>
                                                                            <td><h5>{{ dato.usuario }}</h5></td>
                                                                            <td><h5><a href="{{ dato.id }}">Ver</a></h5></td>
                                                                        </tr>
                                                                    </tbody>
                                                              {% endif %}
                                                            {% endif %}
                                                          {% endfor %}
                                                      </table>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                             <hr>
                                             <!-- Modal -->

                                            Ingresos Mes: Febrero 120000.00
                                            <hr/>
                                            Egresos Mes: Febrero 100000.00
                                            <hr/>
                                            Ganancias: 20000.00
                                            <hr/>
                                            <a class="btn btn-default" href="#" role="button">Ver Detalles &raquo;</a>
                                        </div>
                                    </div>
                            </div>
                   {% endfor %}

          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
         </div><!--/row-->
         <hr>
{% endblock %}