{% extends 'base/base-asesor.html' %}
{% block contenido %}
            <div class="container jumbotron">
            <div class="text-danger mr"><h4 class="ma">Agrega un nuevo cliente.</h4></div>
            <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}

              <div class="form-group  row ">
                <label class="col-sm-2 form-control-label ">Nombre:</label>
                <div class="col-sm-4">
                    {{ form.nombre }}
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Apellidos:</label>
                <div class="col-sm-4">{{ form.apellidos }}
                {{ form.apellidos.errors }}</div>
              </div>
              <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Calle:</label>
                    <div class="col-sm-6">{{ form.calle }}
                    {{ form.calle.errors }}</div>
              </div>
                <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Número:</label>
                    <div class="col-sm-6">{{ form.numero }}
                    {{ form.numero.errors }}</div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Colonia o Fraccionamiento:</label>
                    <div class="col-sm-6">{{ form.colonia_fraccionamiento }}
                    {{ form.colonia_o_fraccionamiento.errors }}</div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Municipio o Delegación:</label>
                    <div class="col-sm-6">{{ form.municipio_delegacion }}
                    {{ form.municipio_o_delegacion.errors }}</div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Entidad:</label>
                    <div class="col-sm-6">{{ form.endidad }}
                    {{ form.endidad.errors }}</div>
                </div>
                <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Codigo Postal:</label>
                    <div class="col-sm-6">{{ form.cp }}
                    {{ form.cp.errors }}</div>
                </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Nss:</label>
                <div class="col-sm-4">{{ form.nss }}
                {{ form.nss.errors }}</div>
              </div>
                  <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Telefono de casa:</label>
                <div class="col-sm-4">{{ form.telefono}}
                {{ form.telefono.errors }}</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Empresa:</label>
                <div class="col-sm-4">{{ form.empresa }}
                {{ form.empresa.errors }}</div>
              </div>
              <div class="form-group  row">
                <label class="col-sm-2 form-control-label">Registro Patronal:</label>
                <div class="col-sm-4">{{ form.registro_patronal }}
                {{ form.registro_patronal.errors }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Comisión:</label>
                <div class="col-sm-4">{{ form.comision }}
                {{ form.comision.errors }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">INE:</label>
                <div class="col-sm-4">{{ form.ife }}
                {{ form.ife.errors }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Correo electrónico:</label>
                <div class="col-sm-4">{{ form.email }}
                {{ form.email.errors }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Numero de Cuenta:</label>
                <div class="col-sm-4">{{ form.numero_de_cuenta }}
                {{ form.numero_de_cuenta.errors }}</div>
              </div>
              <div class="form-group row ">
                <label class="col-sm-2 form-control-label">Banco:</label>
                <div class="col-sm-4">{{ form.banco }}
                {{ form.banco.errors }}</div>
              </div>
            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-4">
                  <button type="submit" class="btn btn-default">Guardar</button>
                </div>
            </div>
        </form>
        </div>
{% endblock %}