{% extends 'base.html' %}

 {% block css_add %}
     {% load staticfiles %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script type="text/javascript">
	// For demo to fit into DataTables site builder...
	$('#example')
		.removeClass( 'display' )
		.addClass('table table-striped table-bordered');
</script>
 {% endblock %}

{% block contenido %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#bd-example-modal-lg">Agregar Nuevo  Cliente</button>
    <hr>
    <div class="modal fade bd-example-modal-lg" id="bd-example-modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="container">
                <div class="row">
                <div class="col-md-8 col-sm-4">
                    <div class="text-danger "><h4 class="ma">Agrega un nuevo cliente.</h4></div>
                    <form  method="post" enctype="multipart/form-data">
                {% csrf_token %}

                  <div class="form-group  row ">
                    <label class="col-sm-2 form-control-label">Nombre:</label>
                    <div class="col-sm-4">{{ form.nombre }}
                        {{ form.nombre.errors }}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Apellidos:</label>
                    <div class="col-sm-4">{{ form.apellidos }}
                    {{ form.apellidos.errors }}</div>
                  </div>
                  <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Calle:</label>
                    <div class="col-sm-6">{{ form.calle }}
                    {{ form.calle.errors }}</div>
                  </div>
                  <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Número:</label>
                    <div class="col-sm-6">{{ form.numero }}
                    {{ form.numero.errors }}</div>
                  </div>
                  <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Colonia o Fraccionamiento:</label>
                    <div class="col-sm-6">{{ form.colonia_fraccionamiento }}
                    {{ form.colonia_o_fraccionamiento.errors }}</div>
                  </div>
                  <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Municipio o Delegación:</label>
                    <div class="col-sm-6">{{ form.municipio_delegacion }}
                    {{ form.municipio_o_delegacion.errors }}</div>
                  </div>
                  <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Entidad:</label>
                    <div class="col-sm-6">{{ form.endidad }}
                    {{ form.endidad.errors }}</div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-2 form-control-label">Nss:</label>
                    <div class="col-sm-4">{{ form.nss }}
                    {{ form.nss.errors }}</div>
                  </div>
                      <div class="form-group row ">
                    <label class="col-sm-2 form-control-label">Teléfono:</label>
                    <div class="col-sm-4">{{ form.telefono}}
                    {{ form.telefono.errors }}</div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Empresa:</label>
                    <div class="col-sm-4">{{ form.empresa }}
                    {{ form.empresa.errors }}</div>
                  </div>
                  <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Registro Patronal:</label>
                    <div class="col-sm-4">{{ form.registro_patronal }}
                    {{ form.registro_patronal.errors }}</div>
                  </div>
                  <div class="form-group  row">
                    <label class="col-sm-2 form-control-label">Código postal:</label>
                    <div class="col-sm-6">{{ form.cp }}
                    {{ form.cp.errors }}</div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-2 form-control-label">INE:</label>
                    <div class="col-sm-4">{{ form.ife }}
                    {{ form.ife.errors }}</div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-2 form-control-label">Número de Cuenta:</label>
                    <div class="col-sm-4">{{ form.numero_de_cuenta }}
                    {{ form.numero_de_cuenta.errors }}</div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-2 form-control-label">Banco:</label>
                    <div class="col-sm-4">{{ form.banco }}
                    {{ form.banco.errors }}</div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-sm-2 form-control-label">Comisión:</label>
                    <div class="col-sm-4">{{ form.comision }}
                    {{ form.comision.errors }}</div>
                  </div>

                        <br>

                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-4">
                      <button type="submit" class="btn btn-success">Guardar</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                        <br>
            </form>
                </div>
                <div class="col-md-2 col-sm-2"></div>
            </div>

        </div>
    </div>
  </div>
</div>


<div class="table-responsive">
 <table class="table table-bordered display" id="example">
     <thead class="color1">
     <tr>
         <th>id</th>
         <th>Nombre</th>
         <th>Dirección</th>
         <th>Teléfono</th>
         <th>Ife</th>
         <th>Empresa</th>
         <th>Registro Patronal</th>
         <th>Comisión</th>
         <th>Acciones</th>
     </tr>
     </thead>
     <tbody>
     {% for mi_cliente in mis_clientes %}
         <tr>
             <td>{{ mi_cliente.pk }}</td>
             <td>{{ mi_cliente.nombre }}{{ mi_cliente.apellidos }}</td>
             <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm{{ mi_cliente.pk }}">Dirección</button>
                <div class="modal fade bs-example-modal-sm{{ mi_cliente.pk }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th>Titulo</th>
                                      <th>Descripción</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td><strong>Calle:</strong></td>
                                      <td>{{ mi_cliente.calle }}</td>
                                  </tr>
                                  <tr>
                                      <td><strong>Número:</strong></td>
                                      <td>{{ mi_cliente.numero }}</td>
                                  </tr>
                                  <tr>
                                      <td><strong>Colonia o Fraccionamiento:</strong></td>
                                      <td>{{ mi_cliente.colonia_fraccionamiento }}</td>
                                  </tr>
                                  <tr>
                                      <td><strong>Municipio o Delegación:</strong></td>
                                      <td>{{ mi_cliente.municipio_delegacion }}</td>
                                  </tr>
                                  <tr>
                                      <td><strong>Entidad:</strong></td>
                                      <td>{{ mi_cliente.endidad }}</td>
                                  </tr>
                                  <tr>
                                      <td><strong>Código Postal:</strong></td>
                                      <td>{{ mi_cliente.cp }}</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
             </td>

             <td>{{ mi_cliente.telefono }}</td>
             <td>
                 <ul class="nav nav-pills">
                     <li role="presentation"><a href="{{ MEDIA_URL }} {{ mi_cliente.ife.url }}" target="_blank">Ife</a></li>
                 </ul>
             </td>
             <td>{{ mi_cliente.empresa }}</td>
             <td>{{ mi_cliente.registro_patronal}}</td>
             <td>{{ mi_cliente.comision }}</td>
            <td>
                <div class="dropdown">
                  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Acciones <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li><a  href="{% url 'editar_primer_registro' mi_cliente.pk %}">Editar</a></li>
                      <li><a href="{% url 'eliminar_primer_registro' mi_cliente.pk %}">Eliminar</a></li>
                  </ul>
                </div>
            </td>
     </tr>
     {% endfor %}

     </tbody>
 </table>
</div>


{% endblock %}