{% extends 'base.html' %}

	{% block css_add %}
		<style type="text/css">
			.alinl{
				text-align: left;
			}
			.alinr{
				text-align: right;
				color: red;
			}
			.align-r{
				text-align: right;
			}
		</style>
	{% endblock css_add %}

	{% block contenido %}
		<div class="row">
			<div class="container">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">
				  		<div class="alinl .col-md-6"><h4>Nota de Remisión</h4></div>  
						<div class="alinr .col-md-6"><strong>Folio: 12344</strong></div>
				  </div>
				  <div class="panel-body">
				  	<div>
						  <div class="form-group  col-xs-2">
						    <label for="fecha">Fecha:</label>
						    <input type="date" class="form-control" placeholder=".col-xs-2">
						  </div>	
				    </div>
				    <form action="" >
				    	  <div class="form-group col-xs-5">
						    <label for="exampleInputEmail1">Sr.</label>
						    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Titular">
						  </div>
						  <div class="form-group col-xs-5">
						    <label for="exampleInputPassword1">Dirección</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="dirección">
						  </div>
						  <div class="form-group col-xs-5">
						    <label for="exampleInputPassword1">Ciudad</label>
						    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ciudad">
						  </div>
				    </form>


				    <p>...</p>
				  </div>

				  <!-- Table -->
				  <table class="table">
				  	    <thead>
					      <tr>
					        <th>Cantidad</th>
					        <th>Articulo</th>
					        <th>Precio</th>
					        <th>Importe</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>2</td>
					        <td>Toneladas de cemento</td>
					        <td>1000.00</td>
					        <td>2000.00</td>
					      </tr>
					      <tr>
					        <td>5</td>
					        <td>Varilla</td>
					        <td>600.00</td>
					        <td>4200.00</td>
					      </tr>
					      <tr>
					        <td>2</td>
					        <td>Tramos alambre</td>
					        <td>700.00</td>
					        <td>1400.00</td>
					      </tr>
					      <tr>
							 <td></td>
							 <td></td>
							 <td> <strong>Total:</strong> </td>
							 <td><strong>7600.00</strong> </td>
					      </tr>
					    </tbody>
				  </table>
				</div>
					<div class="row">
						<div class="col-md-9">
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-primary">Guardar</button>
							<button type="button" class="btn btn-primary">Guardar y generar PDF</button>
						</div>
					</div>

			</div>
		</div>
	{% endblock %}

